<div class="popupCreateSection popup">
    <h2>Créer une section</h2>
    {{ form_start(form, {'attr': {'class': 'create-section-form'}}) }}
    <div class="container-input">
        {{ form_row(form.nom) }}
    </div>
    {{ form_end(form) }}
</div>
