<h2>Editer une section</h2>
{# Formulaire d'edition de section #}
<div class="popupEditSection popup">
        {{ form_start(form, {'attr': {'class': 'edit-section-form'}}) }}
        <div class="container-input">
                {{ form_row(form.nom) }}
        </div>
        {{ form_end(form) }}
</div>
