{% extends 'admin/base_admin.html.twig' %}

{% block title %}Profil administrateur{% endblock %}

{% block content %}

    <p>Profil</p>
    <p>Profil</p>
    <p>Profil</p>
    <p>Profil</p>
    <p>Profil</p>
    <p>Profil</p>
    <p>Profil</p>
    <p>Profil</p>
    <p>Profil</p>
    <p>Profil</p>
    <p>Profil</p>
    <p>Profil</p>
    <p>Profil</p>
    <p>Profil</p>
    <p>Profil</p>
    <p>Profil</p>
    <p>Profil</p>
    <p>Profil</p>
    <p>Profil</p>



{% endblock %}