{% extends 'base.html.twig' %}

{% block title %}Choix des UE | Professeur{% endblock %}

{% block body %}
    <h1>Choix des Unités d'Enseignement</h1>
    <p>Bienvenue dans l'espace Professeur !</p>
{% endblock %}
