<div class="popupCreatePublication popup">
    {{ form_start(form, {
        'attr': {
            'class': 'create-publication-form'
        }
    }) }}
    <div class="container-input">
        {{ form_widget(form) }}
    </div>
    {{ form_end(form) }}
</div>
