<div class="mini-popup" id="delete-user-popup">
    <p class="close-popup" data-action="close-popup">X</p>
    <div class="mini-popup-content">
        <div class="mini-picture-place">
            <img id="picture-popup" src="" alt="Photo de l'utilisateur">
        </div>
        <p>Êtes-vous sûr de vouloir supprimer l'utilisateur <strong id="user-name"></strong> ?</p>
        <div class="bouton-container">
            <p data-action="close-popup" class="bouton but-cancel">Annuler</p>
            <p id="confirm-delete" class="bouton but-delete">Supprimer</p>
        </div>
    </div>
</div>