<form class="mini-popup hidden" id="delete-ue-popup">
    <p class="close-popup" data-action="close-popup">X</p>
    <div class="mini-popup-content">
        <div class="mini-picture-place">
            <img id="picture-popup-ue" src="" alt="Photo de l'utilisateur">
        </div>
        <p>Êtes-vous sûr de vouloir supprimer l'UE <strong id="ue-delete-name"></strong> ?</p>
        <div class="bouton-container">
            <p data-action="close-popup" class="bouton but-cancel">Annuler</p>
            <p id="confirm-delete-ue" class="bouton but-delete">Supprimer</p>
        </div>
    </div>
</form>