{% extends 'base.html.twig' %}

{% block title %}Hello EtudiantController!{% endblock %}

{% block body %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
